.item-holder{
    min-height: 400px;
    width: 70%;
    margin: auto; 
}
mat-drawer-content{
    margin: 2% 0;
}
mat-drawer-content>h2{
    background: deepskyblue;
}
button{
    text-transform: uppercase;
}
.item{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 3% 5%;
    margin: 1%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.class-option{
    
}
.options{
    display: flex;
    flex-direction: column;
    min-width: 15vw;
    padding: 10% 0;
}
.spacer{
    width: 100%;
    height: 20vh;
    background: #689F38;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    padding-bottom: 1%;
}
.spacer>h2{
    font-weight: 300;
}

table{
    border: 1px solid #000;
    width: 400px;
}
th{
    border-bottom: 2px solid #000;
}