################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudentAssesment/.vs/StudentAssesment/v15
/StudentAssesment/.vs/StudentAssesment/v15/Server/sqlite3
/StudentAssesment/packages
/RAD-Project/node_modules
