.example-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.6);
    margin-top: 16%;
  }
  
  .example-container > * {
    width: 40%;
  }

  button{
    width: 40%;
    text-transform: uppercase;
  }